<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :address_country %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :address_state %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :address_postal_code %>
  </div>

  <div class="field">
    <%= form.label :address_line_one %>
    <%= form.text_field :address_line_one, id: :address_address_line_one %>
  </div>

  <div class="field">
    <%= form.label :address_line_two %>
    <%= form.text_field :address_line_two, id: :address_address_line_two %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
