<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @address.postal_code %>
</p>

<p>
  <strong>Address line one:</strong>
  <%= @address.address_line_one %>
</p>

<p>
  <strong>Address line two:</strong>
  <%= @address.address_line_two %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
