<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_address.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company_address.address %>
</p>

<%= link_to 'Edit', edit_company_address_path(@company_address) %> |
<%= link_to 'Back', company_addresses_path %>
